*{
    margin: 0px;
    padding: 0px;

}
a{
    text-decoration: none;
    color: white;
}
#box{
    width: 100%;
}
.s4sw{
    width: 100%;
    height: 60px;
    background-color: #ca381a;

}
.s4sw ul li{

    list-style: none;
    float: left;
    margin-left:50px;
    margin-top: 15px;
}
#slideshow{
    width: 100%;
    height: 768px;
    min-width: 1300px;
}
.picture_presentation{
    width: 1300px;
    margin: 0px auto;
    background-color: white;
}
.picture_presentation .diviimage{
    width: 200px;
    height: 350px;
    -webkit-box-shadow: 3px 8px 31px -11px rgba(187, 187, 187, 0.96);
    -moz-box-shadow:3px 8px 31px -11px rgba(187, 187, 187, 0.96);
    box-shadow: 3px 8px 31px -11px rgba(187, 187, 187, 0.96);
    margin: 50px ;
    float: left;
}
.diviimage ul li{
    width: 100%;
    background-color: cornflowerblue;
    margin-bottom: 10px;
    text-align: center;
    list-style: none;
    cursor: pointer;
    color: white;
}
.diviimage ul li img{
    height: 200px;

}
.diviimage .pitchUP{
    height: 40px;
    background-color: black;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    display: none;
}
.diviimage ul:hover .pitchUP{
    display: block;
}
