*{
    margin: 0px;
    padding: 0px;
}
#box_top{
    width: 100%;
    height:30px;
    background-color: #ca381a;
}
#box_top_left {
    width: 70%;
    height: 30px;
    float: left;
    margin-left: 20px;
}
.box_top_left_text{
    font-size: 21px;
    color: #000;
    font-kerning: normal;
}
#box_top_right{
    height: 30px;

}
#box_top_right ul li{
    float: left;
    list-style: none;
    margin-left: 20px;
}
.box_top_right_button{
    width: 80px;
    height: 21px;
    border: 1px outset #ccbea2;
    background-color: #eaffff;
    cursor: pointer;
}